# Java
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar

# Maven
apps/assinador/target/

# Go
apps/assinatura/assinatura
apps/assinatura/assinatura.exe
apps/simulador/simulador
apps/simulador/simulador.exe

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# OS
.DS_Store
Thumbs.db

# Claude
.claude/
CLAUDE.md